@import url(./common/styles/commonClasses.css);
@import url(./common/styles/variables.css);
@import url(./common/fonts/fonts.css);
@import url(./common/styles/hamburger.css);
body {
  margin: 0;
  font-family: 'Circular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gyanContainer:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}